body {
  background: #fff;
  font-family: 'Inter', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
  text-align: left;
}

.header h1 {
  font-size: 1.8em;
  margin: 0;
}

.contactinfo ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  text-align: left;
}

.contactinfo li {
  display: inline-block;
  margin-right: 10px;
}

.contactinfo a {
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
}

.contactinfo a:hover {
  text-decoration: underline;
}

.bio p {
  margin: 10px 0;
  text-align: left;
}

.bio ul {
  padding-left: 20px;
  list-style: none;
}

.bio li {
  position: relative;
  margin-bottom: 10px;
}

.bio li::before {
  content: "-";
  position: absolute;
  left: -1em;
}

.bio li ul {
  margin-top: 10px; /* Adjust this value as needed */
  margin-left: 20px;
  padding-left: 20px;
}



.bio li ul li::before {
  content: "-";
  position: absolute;
  left: -1em;
}

.image img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 20px 0;
}
